body {
background: rgba(162,237,49,1);
background: -moz-linear-gradient(left, rgba(162,237,49,1) 0%, rgba(121,198,236,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(162,237,49,1)), color-stop(100%, rgba(121,198,236,1)));
background: -webkit-linear-gradient(left, rgba(162,237,49,1) 0%, rgba(121,198,236,1) 100%);
background: -o-linear-gradient(left, rgba(162,237,49,1) 0%, rgba(121,198,236,1) 100%);
background: -ms-linear-gradient(left, rgba(162,237,49,1) 0%, rgba(121,198,236,1) 100%);
background: linear-gradient(to right, rgba(162,237,49,1) 0%, rgba(121,198,236,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2ed31', endColorstr='#79c6ec', GradientType=1 );
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 18px;

}

html {
  color: black;
}

img {
  display: block;
  height: 300px
}
/*
  ========================================
  Grid
  ========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 960px;
}
/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, h5, p {
  margin-bottom: 22px;
}
h3 {
  font-size: 28px;
}
.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
