/*  background color */
body {
  background: #ffffcc;
}

/*  text color */
html {
  color: black;
}

/* Remove underlining from links */
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/* align and center text*/
h3 {
  text-align: center;
  font-size: 36px;
}

h1, p {
  text-align: center;
}
#nav {
  text-align: center;
  font-size: 18px;
  line-height: 200%;
}

#posts {
  width: 50%;
  margin: auto;
  text-align: center;
}

#post_text {
  margin-left: auto;
  margin-right: auto;
  width: 48em
}

/* size and align images */
img {
  height: 200px;
  line-height: 200%;
  display: block;
   margin-left: auto;
   margin-right: auto
}
