/*  background color */
body {
  background: #ffffcc;
}

/*  text color */
html {
  color: black;
}

/* Remove underlining from links */
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/* remove bullets from header */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*align site title and nav center*/
h3 {
  text-align: center;
  font-size: 36px;
}

#nav {
  text-align: center;
  font-size: 18px;
  line-height: 200%;
}

#posts {
  width: 70%;
  margin: auto;
}
